body {
    box-sizing: border-box;
    line-height: 1.5;
}

/* Not sure why i couldn't get :root to work  */
/* header container uses flex to center everything up top with even space */
header {
    display: flex;
    justify-content: space-evenly;
    text-align: baseline;
    align-items: center;
    background: #858a92;
    color:#fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 8px;
}

/* used image as the centerpiece of the heading */
.selfie {
    background-image: url(../images/aboutmecroppedagain.jpg);
    border-radius: 20%;
    height: 145px;
    width: 145px;
    margin: 8px;
}

/* font weight dictates the h1 tag is almost as bold as it gets */
h1 {
    font-size: 40px;
    font-weight: 800;
    margin-left: 8px;
}

/* flex property allows list to wrap if needed */
ul { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 28px;
    padding-left: 8px;
    margin-top: 40px;
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: #fff;
}

/* wanted to divide list items with | */
li::before {
    content: "|";
    color: black;
    padding: 8px;
}

/* wanted to divide list items with | */
li::after {
    content: "|";
    color: black;
    padding: 8px;
}

li:hover {
    cursor: grab;
    box-shadow: -8px -4px 4px #bdf6f8;
}

.great {
    height: 400px;
    width: 100%;
    background-image: url(.././images/somethinggreat.jpg);
    background-position: center;
}

article {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    background-color: #D8D8D8;
}

p {
    font-size: 20px;
    text-align: center;
    border: 4px dashed #858a92;
    margin-right: 8px;
    width: 70%;
}

h2 {
    color: black;
    margin-left: 60px;
    margin-right: 20px;
    font-size: 32px;
}

.projects section {
    display: flex;
    justify-content: row;
    flex-wrap: wrap;
}

figure {
    box-sizing: border-box;
    min-width: 100%;
    min-height: 200px;
    border: 4px solid #858a92;
    margin-left: 28px;
    margin-bottom: 20px;
    padding: 4px;
}

figure a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: baseline;
    position: relative;
    font-size: 20px;
    text-decoration: none;
    background: #858a92;
    color: #fff;
    box-sizing: border-box;
}

figure a:hover{
    cursor: grabbing;
    opacity: .5;
}

.project-horiseon {
    flex-basis: 100%;
    background-image: url(../images/tophalf2.jpg.png);
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.small {
    max-width: 50%;
    flex-basis: 50%;
}

.project1 {
    background-image: url(../images/erik-mclean-dice.jpg);
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.project2 {
    background-image: url(../images/dowhatyoulove.jpg);
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.contact-me a {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    font-size: 20px;
    color: black;
    padding: 12px;
}

footer {
    background-color: #858a92;
    font-size: 28px;
    text-align: center;
    padding: 4px;
    color: #fff;
}
/* Media Query set for Tablet width */
/* Utilized the Media query to so at 'tablet' width it wont overlap */
@media screen and (max-width: 768px) {
    header, main {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
/* Adjusted Margin to auto for h2 so they will be centered when screen width shrinks */
    h2 {
        margin: auto;
    }
} 

/* Utilized the Media query so it won't overlap */
/* Using flex properties */
@media screen and (max-width: 425px) {
    header, main{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    section {
        max-width: 90%;
    }
    footer{
        margin: 0;
    }
}