body {
    box-sizing: border-box;
    line-height: 1.5;
}

/* Not sure why i couldn't get :root to work  */
/* header container uses flex to center everything up top with even space */
.is-small {
    display: flex;
    justify-content: space-evenly;
    text-align: baseline;
    align-items: center;
    background-image: url(../images/port-back.png);
    margin-bottom: 8px;
}

/* used image as the centerpiece of the heading */
.selfie {
    background-image: url(../images/aboutmecroppedagain.jpg);
    border-radius: 20%;
    height: 145px;
    width: 145px;
    margin: 8px;
}

h1 {
    font-size: 40px;
    font-weight: 800;
    color: aliceblue;
    margin: 8px;
}

.nav {
    text-decoration: none;
    color: #fff;
}

.nav::before {
    content: "|";
    color: black;
    padding: 8px;
}

.nav::after {
    content: "|";
    color: black;
    padding: 8px;
}

.nav:hover {
    cursor: grab;
    box-shadow: -8px -4px 4px #bb473e;
    color: black;
}


#about-me {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    background-color: #D8D8D8;
}

p {
    font-size: 20px;
    text-align: center;
    border: 0px 4px solid #858a92;
    margin-right: 8px;
    width: 70%;
}

h2 {
    color: black;
    margin-left: 60px;
    margin-right: 20px;
    font-size: 32px;
}

/* Card Styling */
.columns {
  display: flex;
  justify-content: center;
}


.card {
    margin: 20px;
}

.card-footer {
    color: black;
    font-size: 24px;
}

a {
  text-decoration: none !important;
}

footer {
    color: aliceblue;
    font-size: 32px;
    text-align: center;
    padding: 4px;
}

/* Media Query set for Tablet width */
/* Utilized the Media query to so at 'tablet' width it wont overlap */
@media screen and (max-width: 768px) {
    header, main {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }
/* Adjusted Margin to auto for h2 so they will be centered when screen width shrinks */
    h2 {
        margin: auto;
    }
} 

/* Utilized the Media query so it won't overlap */
/* Using flex properties */
@media screen and (max-width: 425px) {
    header, main{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    section {
        max-width: 90%;
    }
    footer{
        margin: 0;
    }
}